<!DOCTYPE html>
<html>
<head>



    <link rel="stylesheet" href="/../css/flexslider.css" type="text/css" media="all" />

    <link rel="stylesheet" href="/../css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/../css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/../css/font-awesome.css">

    <style>


    </style>
</head>


<body>

<!--<div class="navbar-header">

    <h1><a href="homepg"> PARC E-Ticket System</a></h1>
</div>-->



<div class="header">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <h1><a href="homepg"> PARC E-Ticket System</a></h1>
        </div>
        <div class="top-nav-text">
            <div class="nav-contact-w3ls"><p id="demo" ></p></div>
        </div>


        <li class="nav navbar-nav navbar-left">
        <li></li><a class="hvr-underline-from-center active"><p style="font-size:25px;margin-top:20px; font-family:sans-serif; color: white"  >Welcome <%=cust_name%></p></a></li>
        <a href="/">  <img aria-hidden="true" src="/../images/logout.png" style="height: 50px;width:50px;margin-left: 98% ;margin-right:20px;margin-top: -20px;"></a>
        <div class="nav-contact-w3ls">
        </div>


    </div>
    </ul>

</div>


<div style="height: 100%; width: auto;" >
<iframe  height ="600px" width="100%"; src="/getcamera" name="iframe_a"></iframe>
</div>
</body>
</html>
